<!-- Modal content -->
<div class="modal-content">
    <form (ngSubmit)="submitForm(congeForm)" #congeForm="ngForm">
        <div class="form-group">
            <label for="userId">Select User:</label>
            <select id="userId" name="userId" [(ngModel)]="userId" class="form-control" required (change)="onUserSelect()">
                <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
              </select>
              
          </div>
          <div class="form-group">
            <label for="soldeConge">Solde Conge:</label>
            <input type="text" id="soldeConge" name="soldeConge" [(ngModel)]="selectedUserSoldeConge" class="form-control" readonly>
          </div>
      <div class="form-group">
        <label for="dateDebut">Start Date:</label>
        <input type="date" id="dateDebut" name="dateDebut" [(ngModel)]="dateDebut" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="typeConge">Type of Leave:</label>
        <select id="typeConge" name="typeConge" [(ngModel)]="typeConge" class="form-control" required>
          <option value="Annuel">Annuel</option>
          <option value="Maladie">Maladie</option>
        </select>
      </div>
      <div class="form-group">
        <label for="duree">Duration:</label>
        <input type="number" id="duree" name="duree" [(ngModel)]="duree" class="form-control" required [max]="selectedUserSoldeConge">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  