


<div class="container content">
 
  <div class="row">
    <!-- Deuxième colonne -->
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card">
        <div class="card-header">Chat</div>
        <div class="card-body height3">
          <ul class="chat-list">
            <li class="in">
              <div class="chat-img">
                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </div>
              <div class="chat-body">
                <div class="chat-message">
                  <p>{{ answer }}</p>
                </div>
              </div>
            </li>  
            <!-- Insérez le code HTML/CSS que vous avez trouvé sur Internet ici -->
            <li class="out">
              <div class="chat-img">
                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
              </div>
              <div class="chat-body">
                <div class="chat-message">
                  <p>{{ question }}</p>
                </div>
              </div>
            </li>
           
           <div>
                  <input type="text" id="question" [(ngModel)]="question" placeholder="Posez votre question ici...">
                  <button (click)="askQuestion()">Poser</button>
                </div>
          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

