<app-navbar></app-navbar>
<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
 <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                 <form [formGroup]="fg" (ngSubmit)="submitfg()">

                    <h5 class="card-title">COCONSULT Verification Terms</h5>
                    <input type="text" class="form-control" placeholder="email" id="email" formControlName="email">
                    <div class="form-group">
                        <re-captcha id="recaptcha" name="recaptcha" [(ngModel)]="token" formControlName="recaptcha" required></re-captcha>
                        <div *ngIf="fg.get('recaptcha').invalid && (fg.get('recaptcha').dirty || fg.get('recaptcha').touched)" class="invalid-feedback">
                            <div *ngIf="fg.get('recaptcha').errors?.required">This field is required.</div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2">Vérifier</button>
                    <a href="#" class="card-link" (click)="resendcode($event)">Renvoyer le code de vérification</a>
                 </form> 
                </div>
            </div>
        </div>
        <div class="col-sm-6"  *ngIf="showResetPasswordCard">
            <div class="card">
                <div class="card-body">
                  <form [formGroup]="fgreset" (ngSubmit)="submitfgreset()">
  
                    <h5 class="card-title">Entrer votre nouveaux mot de pass</h5>
                    <div class="form-group">
                    <label for="code">Enter the code from your mail</label>
                    <input type="text" id="code" class="form-control mt-2" placeholder="Code de vérification" formControlName="code">
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
                        <div *ngIf="fgreset.get('newPassword').errors">
                            <!-- Display validation error messages for newPassword -->
                          </div>
                    </div>
            
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                        <div *ngIf="fgreset.get('confirmPassword').errors">
                            <!-- Display validation error messages for confirmPassword -->
                          </div>
                    </div>
                    <div *ngIf="fgreset.errors?.passwordMismatch">
                        <p class="text-danger">Passwords do not match</p>
                      </div>
                    <button class="btn btn-primary mt-2">Submit</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
 </div>
<section>