<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="cardo">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Liste des activités</h4>
            <p class="card-category">Toutes les activités</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Champ de recherche -->
              <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher..." class="form-control mb-3">

              <!-- Bouton "Ajouter" -->
              <button (click)="openAddActivity('1000ms','500ms','')" mat-raised-button color="primary" class="mt-3">Ajouter</button>

              <!-- Tableau des activités -->
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>ID de l'activité</th>
                    <th>Nombre de tâches</th>
                    <th>Type de tâche</th>
                    <th>Projet</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of pagedActivities">
                    <td>{{ activity.idActivity }}</td>
                    <td>{{ activity.nbreOfTask }}</td>
                    <td>{{ activity.taskType }}</td>
                    <td>{{ getProjectTitle(activity) }}</td>
                    <td>
                      <button (click)="editActivity(activity.idActivity)" class="btn btn-primary">Éditer</button>
                      <button (click)="deleteActivity(activity.idActivity)" class="btn btn-danger delete-button">Supprimer</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Ajout de la pagination -->
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="activities.length" (page)="onPageChange($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
