<main class="">
  <section class="section section-xs section-shaped pb-50">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <div class="main">
      <header class="header">
        <ul class="menu" #menu>
          <li class="menu__item">
            <a class="menu__link rout" routerLinkActive="active" routerLink="/landing">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLinkActive="active" routerLink="/contact">Contactez-nous</a>
          </li>
          <li class="menu__item">
            <a class="menu__link"routerLinkActive="active" routerLink="/signIN">Espace Entreprise</a>
          </li>
          <li class="menu__item">
            <a class="menu__link"routerLinkActive="active" routerLink="/signIN">Espace Employée</a>
          </li>
          <li class="menu__item">
            <a class="menu__link"routerLinkActive="active" routerLink="/Media">Media Corner </a>
          </li>
        </ul>
        <ul class="menu menu-right" #menuSecond>
          <li class="menu__item">
            <a class="menu__link"routerLinkActive="active" routerLink="/Blogs">Blogs</a>
          </li>
          <li class="menu__item">
            <a class="menu__link"routerLinkActive="active" routerLink="FAQ">FAQ</a>
          </li>
        </ul>
      </header>
      <section class="first-section">
        <div class="info">
          <h2 class="heading-1">
            POURQUOI NOUS AVONS CREE ECO
          </h2>
          <p class="paragraph text-white">
           Rejoignez-nous chez ECOtalan et faites partie de la solution pour lutter contre le changement 
            climatique tout en ayant un impact positif sur l'avenir de notre planète.
             Ensemble, nous pouvons réduire les empreintes carbone et construire un monde durable.
          </p>
        </div>
        <div class="visuals">
          <div class="image-container">
            <img
              #imageFirst
              src="../../../assets/images/talan1.jpg"
              alt=""
            />
          </div>
          <div class="image-container">
            <img
              #imageSecond
              src="../../../assets/images/talan2.jpg"
  
              alt=""
            />
          </div>
          
          
        </div>
      </section>
      
      <section class="second-section" #secondSection>
        <div class="box">
  
          
            <p class="paragraph text-white">
              ECOtalan est un site Web révolutionnaire dédié à la promotion d'un environnement durable en réduisant 
              les empreintes carbone et en encourageant les pratiques respectueuses de l'environnement.
               En tant que filiale de Talan Tunisie, nous sommes à l'avant-garde du mouvement pour la durabilité,
                offrant des solutions uniques aux particuliers et aux entreprises.
              <img src="../../../assets/images/low.jpg" alt="">
  
            </p>
  
  
        </div>
        <h4 class="heading-4" id="about">About Us</h4>
        <h1 class="heading-1" id="buy">Buying a home doesn't have to be a mystery.</h1>
        <div class="info-1">
          <div class="info-1__text">
            <span class="quote">
              ECotalan
            </span>
            <h2 class="heading-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </h2>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
              tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
              veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
              quisquam!
            </p>
            <a class="btn--learn">Learn More</a>
          </div>
          <div class="info-1__visual">
            <img src="../../../assets/images/talan3.jpg" alt="">
          </div>
          <div class="info-1__visual">
            <img src="../../../assets/images/talan3.jpg" alt="">
          </div>
          
        </div>
    
      </section>
    </div>
    
    
  </section>

