<app-navbardorra></app-navbardorra>
<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

<div class="container-xl px-4 mt-4">
   
  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <img class="img-account-profile rounded-circle mb-2" [src]="photoUrl" alt="Photo du candidat">
                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4"></div>
                  <!-- Profile picture upload button-->
                  <button class="btn btn-primary" type="button" (click)="togglephotoInput()">update your photo</button>
                  <form *ngIf="showphotoInput" (submit)="onUploadPhoto()">
                      <input type="file" (change)="onFileSelected($event)">
                      <button type="submit">Upload</button>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                  <form>
                      <!-- Form Group (info)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputInfo">Info</label>
                          <input class="form-control" id="inputInfo" type="text" placeholder="Enter your info" [(ngModel)]="info">
                          <button class="btn btn-primary mt-2" type="button" (click)="onSubmit()">Add Info</button>
                      </div>
                          <!-- Info affichage -->
                          <div *ngIf="candidat.info">
                            <label class="small mb-1" for="infoDisplay">Info:</label>
                            <p id="infoDisplay">{{ candidat.info }}</p>
                        </div>
                      <!-- Form Group (compétence)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputCompetence">Compétence</label>
                          <input class="form-control" id="inputCompetence" type="text" placeholder="Enter your compétence" [(ngModel)]="competence">
                          <button class="btn btn-primary mt-2" type="button" (click)="onSubmitt()">Add Compétence</button>
                      </div>
                  
                      <!-- Compétence affichage -->
                      <div *ngIf="candidat.competence">
                          <label class="small mb-1" for="competenceDisplay">Compétence:</label>
                          <p id="competenceDisplay">{{ candidat.competence }}</p>
                      </div>
                     
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

</section>