
<app-navbardorra></app-navbardorra>
<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>




<div class="container">
  <div class="card">
    <mat-stepper #stepper  class="custom-stepper" *ngIf="currentQuestionIndex <= questions.length">
      <!-- Steps for each question -->
      <mat-step *ngFor="let question of questions; let i = index" [completed]="i < currentQuestionIndex" [editable]="i === currentQuestionIndex">
        <ng-template matStepLabel>{{ i + 1 }}</ng-template>
        <div class="step-content" (contextmenu)="onRightClick($event)">
          <div class="icon-container" (click)="readQuestion()">
            <!-- Your microphone icon SVG code here -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="microphone-icon">
              <path d="M12 14c1.66 0 3-1.34 3-3V5c0-1.66-1.34-3-3-3s-3 1.34-3 3v6c0 1.66 1.34 3 3 3zm6-4c0 3.31-2.69 6-6 6s-6-2.69-6-6H1c0 4.97 4.03 9 9 9s9-4.03 9-9h-3z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <p *ngIf="readingQuestion">Reading question...</p> 
          </div>
          <h2>{{ quizTitle }}</h2>
          <h3>{{ question.content }}</h3>
          <p>Remaining time: {{ remainingTime }} seconds</p>
          <ul>
            <li *ngFor="let option of [question.option1, question.option2, question.option3, question.option4]">
              <label>
                <input type="radio" [value]="option" [(ngModel)]="question.selected_answer">
                {{ option }}
              </label>
            </li>
          </ul>
          <div class="button-container">
            <button mat-button (click)="confirmRetourQuestion()" *ngIf="i !== 0">Back</button>
            <button mat-button matStepperNext (click)="submitAnswer(question.selected_answer)" *ngIf="i !== questions.length">Next</button>
      
          </div>
        </div>
      </mat-step>
      <!-- Final step for completion -->
      <mat-step>
        <div class="quiz-card">
          <p>End of the quiz</p>
          <button (click)="finishQuiz()">Envoyer ma note par mail</button>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
