/* evaluation.manager.component.css */
@keyframes backgroundFade {
  0% { background-color: #f1f1f1; }
  50% { background-color: #e0e0ff; }
  100% { background-color: #f1f1f1; }
}

.evaluation-form {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background-color: #f1f1f1;
  border: 1px solid #0057b7;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: backgroundFade 10s infinite alternate ease-in-out;
}

.evaluation-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  background-color: #eef9bf; /* Léger vert pastel */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border-color: #0057b7; /* Bleu */
  outline: none;
  box-shadow: 0 0 8px rgba(0, 87, 183, 0.5);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 20px);
  margin: 10px 0;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0057b7;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #004c8c; /* Darker blue */
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0057b7;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

.range-value {
  display: inline-block;
  margin-left: 10px;
  color: #388e3c; /* Green */
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #0057b7; /* Bleu */
  font-weight: bold;
  position: relative;
  padding-left: 5px;
}

label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #0057b7; /* Bleu */
  transition: width 0.3s;
}

label:hover::after {
  width: 0; /* Effet de rétraction de la ligne au survol */
}
